h2 {
    color: white;
    margin-left: .2em;
}

ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0;
    width: 100%;
}

ul a {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 20em;
    margin-right: .5em;
}

ul a img {
    width: 10em;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    margin-bottom: .5em;
}

h1 {
    color: white;
}