h2 {
    color: white;
    margin-bottom: 0;
    margin-top: 1em;
}

section {
    width: 93%;
    max-width: 1400px;
}

ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0;
    width: 100%;
    margin-top: 1em;
}

section span {
    display: flex;
    width: 100%;
    align-items: baseline;
}

section span form {
    margin-left: auto;
}

ul a {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 20em;
    margin-right: .5em;
}

ul a img {
    width: 11em;
    aspect-ratio: 4 / 6;
    object-fit: cover;
    margin-bottom: .5em;
}

h1 {
    color: white;
}