<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1><%= data.product_name_fr %></h1>
</body>
</html>