<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h2>welkom op de homepagina</h2>
    <a href="/overview">overview</a>
</body>
</html>