<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h2>welkom op de homepagina</h2>
    <form action="/search" method="post">
        <label for=""></label>
        <input type="text" placeholder="product name or barcode" name="productSearch">
        <button type="submit">submit</button>
    </form>
</body>
</html>